/*.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 50px;
}*/

/*** using repeat() ***/

/*.container {
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(2, 50px);
}*/

/*** auto-fit ***/

/*.container {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, 100px);
	grid-template-rows: repeat(2, 100px);
} */

/*** minimax() ***/

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 200px);
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}